@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="utf-8" />
    <title>jQuery UI Accordion - Default functionality</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
</head>
<body>
    <section id="Academic Information">
        <div class="page-header">
            <h1>
                Graduate Students</h1>
        </div>
        <h3>@TempData["Message"]</h3>
        @if (User.IsInRole("Student"))
        {
            ITinTheDWebSite.Models.ProspectModel prospect = new ITinTheDWebSite.Models.ProspectModel();

            if (ITinTheDWebSite.Helpers.DatabaseHelper.GetProspectData(prospect, WebSecurity.GetUserId(User.Identity.Name)).AccountStatus == 4)
            {
                <p align="center">
                    @Html.Partial("../Account/DisplayProspectPage", prospect)
                </p>
            }
        }
        <div id="accordion">
            <h3>
                Graduate Students</h3>
            <div>
                Write something about our graduate students.<br />
                <br />
                <br />
                <br />
                <br />
                <p align="center">
                    <a class="btn btn-large btn-primary" @Html.ActionLink("Apply as a Student", "DisplayProspect", "Account")
                </p>
            </div>

            @{
                using (ITinTheDWebSite.ITintheDTestTableEntities context = new ITinTheDWebSite.ITintheDTestTableEntities())
                {
                    foreach (var ProspectiveStudentData in context.ProspectiveStudent)
                    {
                        if (ProspectiveStudentData.Status == 4)
                        {
                            if (ProspectiveStudentData.ProspectiveStudentTextField != null && ProspectiveStudentData.ProspectiveStudentTextField != "")
                            {
                                <h3>
                                    @ProspectiveStudentData.Name</h3>
                                <div>
                                    @ProspectiveStudentData.ProspectiveStudentTextField
                                    <br />
                                    @if (ProspectiveStudentData.ImageUploaded == "Yes")
                                    {
                                        <p align="center">
                                            <img src="/GetFileImage.ashx?id=@ProspectiveStudentData.UserId" / style="width: 128px; height: 128px;">
                                        </p>
                                    }
                                </div>
                            }
                        }
                    }
                }
            }       
        </div>
</body>