@model ITinTheDWebSite.Models.AdminModel
@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
        $(function () {
            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
        });
    </script>
    <style>
        .ui-tabs-vertical
        {
            width: 55em;
        }
        .ui-tabs-vertical .ui-tabs-nav
        {
            padding: .2em .1em .2em .2em;
            float: left;
            width: 12em;
        }
        .ui-tabs-vertical .ui-tabs-nav li
        {
            clear: left;
            width: 100%;
            border-bottom-width: 1px !important;
            border-right-width: 0 !important;
            margin: 0 -1px .2em 0;
        }
        .ui-tabs-vertical .ui-tabs-nav li a
        {
            display: block;
        }
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active
        {
            padding-bottom: 0;
            padding-right: .1em;
            border-right-width: 1px;
            border-right-width: 1px;
        }
        .ui-tabs-vertical .ui-tabs-panel
        {
            padding: 1em;
            float: right;
            width: 40em;
        }
    </style>
</head>
<h2>
    Index</h2>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Users</a></li>
        <li><a href="#tabs-2">Register an Admin</a></li>
    </ul>
    <div id="tabs-1">
        <table>
            <thead>
                <tr>
                    <td>
                        UserID
                    </td>
                    <td>
                        Username
                    </td>
                    <td>
                        Roles
                    </td>
                    <td>
                        Verification Status
                    </td>
                </tr>
            </thead>
            <h2>
                Users</h2>
            @foreach (ITinTheDWebSite.Models.UserInfo u in Model.allUsers)
            {
                int status = 0;
                string message = "";
                
                <tr>
                    <td>@u.user.UserId
                    </td>
                    <td>
                        <a href="/admin/user?id=@u.user.UserId" >@u.user.UserName</a>
                    </td>
                    <td>
                        @foreach (string r in @u.roles)
                        {                            
                            @r<span> </span>
                        }
                        
                    </td>
                    <td>
                    @foreach (string r in @u.roles)
                    {
                        if (r == "Student")
                        {
                            ITinTheDWebSite.Models.ProspectModel prospect = new ITinTheDWebSite.Models.ProspectModel();

                            status = ITinTheDWebSite.Helpers.DatabaseHelper.GetProspectData(prospect, u.user.UserId).AccountStatus;

                            switch(status)
                            {
                                case 1:
                                    message = " - Unverified.";
                                    break;
                                case 2:
                                    message = " - Able to edit profile.";
                                    break;
                                case 3:
                                    message = " - Current student.";
                                    break;
                                case 4:
                                    message = " - Graduate student.";
                                    break;
                                default:
                                    message = " - No status.";
                                    break;
                            }
                        }

                        else if (r == "Educator")
                        {
                            ITinTheDWebSite.Models.AcademicModel academic = new ITinTheDWebSite.Models.AcademicModel();

                            status = ITinTheDWebSite.Helpers.DatabaseHelper.GetAcademicdData(academic, u.user.UserId).AccountStatus;

                            message = "Account can edit their own profile.";
                        }

                        else if (r == "Sponsor")
                        {
                            ITinTheDWebSite.Models.SponsorModel sponsor = new ITinTheDWebSite.Models.SponsorModel();

                            status = ITinTheDWebSite.Helpers.DatabaseHelper.GetSponsorData(sponsor, u.user.UserId).AccountStatus;
                        }

                        else if (r == "Admin")
                        {
                            ITinTheDWebSite.Models.RegisterModel regAdmin = new ITinTheDWebSite.Models.RegisterModel();

                            status = ITinTheDWebSite.Helpers.DatabaseHelper.GetAdminData(regAdmin, u.user.UserId).AccountStatus;
                        }

                        switch (status)
                        {
                            case 1:
                                message = " - Unverified.";
                                break;
                            case 2:
                                message = " - Able to edit profile.";
                                break;
                            case 3:
                                message = " - Current " + r + '.';
                                break;
                            case 4:
                                if (r == "Student")
                                {
                                    message = " - Graduate student.";
                                }

                                else
                                {
                                    message = " - No status.";
                                }
                                break;
                            default:
                                message = " - No status.";
                                break;
                        }
                        
                        @status @message
                    }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div id="tabs-2">
        <h2>
            Register an Admin</h2>
        @{
            ITinTheDWebSite.Models.RegisterModel adminReg = new ITinTheDWebSite.Models.RegisterModel();

            Html.RenderPartial("../Admin/DisplayAdminRegister", adminReg);
        }
    </div>
</div>
