@model ITinTheDWebSite.Models.AdminModel
@{
    ViewBag.Title = "User";
}
<div class="page-header">
    <h1>
        User Info</h1>
</div>
<h4>
    @TempData["Message"]
</h4>
@{
    ITinTheDWebSite.Models.RegisterModel regAdmin = new ITinTheDWebSite.Models.RegisterModel();

    if (ITinTheDWebSite.Helpers.DatabaseHelper.GetAdminData(regAdmin, WebSecurity.GetUserId(User.Identity.Name)).AccountStatus != 3)
    {
    <h4>
        You do not have access to users information.</h4>
    }

    else
    {
    <table>
        <thead>
            <tr>
                <td>
                    User ID
                </td>
                <td>
                    User Name
                </td>
                <td>
                    Roles
                </td>
            </tr>
        </thead>
        @foreach (ITinTheDWebSite.Models.UserInfo u in Model.allUsers)
        {
            <tr>
                <td>
                    @u.user.UserId
                </td>
                <td>
                    @u.user.UserName
                </td>
                <td>
                    @{                    
            var roles = (SimpleRoleProvider)Roles.Provider;
                    }
                    @foreach (string dr in Model.allRoles)
                    {
                        if (roles.IsUserInRole(u.user.UserName, dr))
                        {
                        @Html.ActionLink("Remove " + dr, "RemoveRole", new { id = u.user.UserId, role = dr });
                        }

                        else
                        {
                        @Html.ActionLink("Add " + dr, "AddRole", new { id = u.user.UserId, role = dr });
                        }
                    }
                </td>
            </tr>
        }
    </table>
    <br />
    <div class="page-header">
        <h1>
            User Profile</h1>
    </div>
        {
            foreach (ITinTheDWebSite.Models.UserInfo u2 in Model.allUsers)
            {
                var roles2 = (SimpleRoleProvider)Roles.Provider;
                if (roles2.IsUserInRole(u2.user.UserName, "Student"))
                {
                    ITinTheDWebSite.Models.ProspectModel prospect = new ITinTheDWebSite.Models.ProspectModel();

                    Html.RenderPartial("../Account/DisplayProspect", ITinTheDWebSite.Helpers.DatabaseHelper.GetProspectData(prospect, u2.user.UserId));
                }

                else if (roles2.IsUserInRole(u2.user.UserName, "Educator"))
                {
                    ITinTheDWebSite.Models.AcademicModel academic = new ITinTheDWebSite.Models.AcademicModel();

                    Html.RenderPartial("../Account/DisplayAcademic", ITinTheDWebSite.Helpers.DatabaseHelper.GetAcademicdData(academic, u2.user.UserId));
                }

                else if (roles2.IsUserInRole(u2.user.UserName, "Sponsor"))
                {
                    ITinTheDWebSite.Models.SponsorModel sponsor = new ITinTheDWebSite.Models.SponsorModel();

                    Html.RenderPartial("../Account/DisplaySponsor", ITinTheDWebSite.Helpers.DatabaseHelper.GetSponsorData(sponsor, u2.user.UserId));
                }

                if (roles2.IsUserInRole(u2.user.UserName, "Admin"))
                {
                    ITinTheDWebSite.Models.RegisterModel adminReg = new ITinTheDWebSite.Models.RegisterModel();

                    Html.RenderPartial("DisplayadminRegister", ITinTheDWebSite.Helpers.DatabaseHelper.GetAdminData(adminReg, u2.user.UserId));
                }
            }
        }
    }
}
