@model sbContact.Models.EmailFields
 
<!-- Modal -->
 
    <!-- Button to trigger modal -->
    <a href="#ErrorModal" role="button" class="btn" data-toggle="modal">Report Errors</a>
 
 
<div id="ErrorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myErrorLabel" aria-hidden="true" style="width:700px; height:450px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myErrorLabel">Report errors with Web site</h3>
    </div>
 
    @using (Html.BeginForm("Sendit","Email")) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Please provide the following information</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
 
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
   
        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
 
        <p>
            <input type="submit" value="Send email" />
        </p>
 
        </fieldset>
 
    }
 
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
