<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>IT in the D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootswatch")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
  
    <link href="/Content/bootstrap-responsive.css" rel="Stylesheet" />

</head>
<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="100">
    <div class="container">
        <header id="overview" class="jumbotron subhead">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div style="width: auto;" class="container">
                        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar"><span
                            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </a><a href="#" class="image"< alt=img src="../../Images/Carousel/ITintheD_logo.png" /></a>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"> <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About Us", "Index", "About")</li>
                                <li>@Html.ActionLink("FAQ", "Index", "FAQ")</li>
                                <li>@Html.ActionLink("Sponsors", "Index", "Sponsors")</li>
                                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">More
                                    <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Trainers", "Index", "Trainers")</li>
                                        <li>@Html.ActionLink("Curriculum", "Index","Curriculum")</li>
                                        <li>@Html.ActionLink("Events", "Index","Events")</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav pull-right">
                                <section id="login">
                                    @Html.Partial("_LoginPartial")
                                </section>
                            </ul>
                        </div>
                        <!-- /.nav-collapse -->
                    </div>
                </div>
                <!-- /navbar-inner -->
            </div>
        </header>
        @RenderBody()
        <!-- Footer
      ================================================== -->
         
 <footer class="footer row">
	
<hr>
<h3>Our Sponsors:</h2>

<!--home page "sponsor" images/links-->
<a href="http://www.quickenloans.com/"><img style="padding: 25px" src="../../Images/Carousel/quicken_logo.png" alt="rss feed"></a>
	<a href="http://www.compuware.com/"><img style="padding: 25px" src="../../Images/Carousel/compuwarelogosmall.png" alt="rss feed"></a>
	<a href="http://www.fathead.com/"><img style="padding: 25px" src="../../Images/Carousel/fathead.png" alt="rss feed"></a>
	<a href="http://www.galaxesolutions.com/"><img style="padding: 25px" src="../../Images/Carousel/galaxe solutions.png" alt="rss feed"></a>
    <a href="http://marketingassociates.com/"><img style="padding: 25px" src="../../Images/Carousel/mrktg_assoc_logo.png" alt="rss feed"></a>
<!--end home page "sponsor" images/links-->
	Copyright IT in the D 2012
</footer>

    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
      @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
