<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ITInTheD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootswatch")
</head>
<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
    <div class="container">
        <header id="overview" class="jumbotron subhead">
  <div class="row">
    <div class="span6">
      <h1>ITInTheDs</h1>
      <p class="lead">A preview of changes in this swatch.</p>
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
                     <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "Index", "About")</li>
    </ul>
  </div>
</header>
        @RenderBody()
        <!-- Footer
      ================================================== -->
        <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
