<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>IT in the D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootswatch")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
  
    <link href="/Content/bootstrap-responsive.css" rel="Stylesheet" />

</head>
<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="100">
    <div class="container">
        <header id="overview" class="jumbotron subhead">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div style="width: auto;height=10px;" class="container">
                        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar"><span
                            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active">
                                <li style="height=0px;"><a href="../Home/Index"><img src="../../Images/Carousel/ITintheD_logo.png" width="80" height="50" alt="img" /></a></li>
                                <li style="height=0px;">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li style="height=0px;">@Html.ActionLink("About Us", "Index", "About")</li>
                                <li style="height=0px;">@Html.ActionLink("FAQ", "Index", "FAQ")</li>
                                <li style="height=0px;">@Html.ActionLink("Sponsors", "Index", "Sponsors")</li>
                                <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">More
                                    <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Trainers", "Index", "Trainers")</li>
                                        <li>@Html.ActionLink("Curriculum", "Index","Curriculum")</li>
                                        <li>@Html.ActionLink("Events", "Index","Events")</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav pull-right">
                                <section id="login">
                                    @Html.Partial("_LoginPartial")
                                </section>
                            </ul>
                        </div>
                        <!-- /.nav-collapse -->
                    </div>
                </div>
                <!-- /navbar-inner -->
            </div>
        </header>
        @RenderBody()
        <!-- Footer
      ================================================== -->
         
 <footer class="footer row">
	
<hr>
<h3>Our Sponsors:</h2>

<!--home page "sponsor" images/links-->
<a href="http://www.quickenloans.com/" target="_blank"><img style="padding: 25px" src="../../Images/Carousel/quicken_logo.png" alt="rss feed"></a>
	<a href="http://www.compuware.com/" target="_blank"><img style="padding: 25px" src="../../Images/Carousel/compuwarelogosmall.png" alt="rss feed"></a>
	<a href="http://www.fathead.com/" target="_blank"><img style="padding: 25px" src="../../Images/Carousel/fathead.png" alt="rss feed"></a>
	<a href="http://www.galaxesolutions.com/" target="_blank"><img style="padding: 25px" src="../../Images/Carousel/galaxe solutions.png" alt="rss feed"></a>
    <a href="http://marketingassociates.com/" target="_blank"><img style="padding: 25px" src="../../Images/Carousel/mrktg_assoc_logo.png" alt="rss feed"></a>
<!--end home page "sponsor" images/links-->
	© 2013 ITInTheD, Inc. · <a href="../Home/DisplayPrivacy">Privacy</a> · <a href="../Home/DisplayTerms">Terms</a>
    <p class="pull-right" style="margin-top: 70px;">
        <a href="#">Back to top</a></p>
                <div class="navbar">
                <div class="navbar-inner">
                    <div class=pull-left>
                        <h6>Follow us on:<h6> <p/>
                        <a href="http://www.facebook.com/ITinDetroit" target="_blank"><img src="../../images/facebook_icon.png" height="45" width="45" /></a>
                        <a href="http://www.twitter.com/ITinDetroit" target="_blank"><img src="../../Images/twitter_icon.png" height="45" width="45" /></a>
                    </div>
                    <div class="pull-middle">
                                    @Html.ActionLink("Contact Us", "Index", "Contact")
                       </div>

                    <div class="container">
                        <div class="content-wrapper">
                                    
                                 <div class="pull-right">
                                  
                                     @Html.Partial("_ErrorReport", new sbContact.Models.EmailFields())
                                </div>
                        </div>
                    </div>
                    <!--container -->
                </div>
                <!-- nav-bar-inner -->
</footer>

    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
      @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
