@if (Request.IsAuthenticated)
{
    string userName = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(User.Identity.Name.Split('@')[0]);
    
    <text> Hello, @Html.ActionLink(userName, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
    </text>
    
    if (User.IsInRole("Student"))
    {
        @Html.ActionLink("Apply Online", "DisplayProspectFiles", "Account")
    }

    else if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Admin", "Index", "Admin")
    }
}
else
{
    <ul>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Register
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Prospect Student", "DisplayProspect", "Account")</li>
                <li>@Html.ActionLink("Academic Institution", "DisplayAcademic", "Account")</li>
                <li>@Html.ActionLink("Sponsor", "DisplaySponsor", "Account")</li>
            </ul>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}