@if (Request.IsAuthenticated)
{
    string name = User.Identity.Name;

    if (User.IsInRole("Student"))
    {
        ITinTheDWebSite.Models.ProspectModel prospect = new ITinTheDWebSite.Models.ProspectModel();

        name = ITinTheDWebSite.Helpers.DatabaseHelper.GetProspectData(prospect, WebSecurity.GetUserId(User.Identity.Name)).Name;
    }

    else if (User.IsInRole("Sponsor"))
    {
        ITinTheDWebSite.Models.SponsorModel sponsor = new ITinTheDWebSite.Models.SponsorModel();

        name = ITinTheDWebSite.Helpers.DatabaseHelper.GetSponsorData(sponsor, WebSecurity.GetUserId(User.Identity.Name)).CompanyName;
    }

    else if (User.IsInRole("Educator"))
    {
        ITinTheDWebSite.Models.AcademicModel educator = new ITinTheDWebSite.Models.AcademicModel();

        name = ITinTheDWebSite.Helpers.DatabaseHelper.GetAcademicdData(educator, WebSecurity.GetUserId(User.Identity.Name)).AcademyName;
    }

    else if (User.IsInRole("Admin"))
    {
        ITinTheDWebSite.Models.RegisterModel admin = new ITinTheDWebSite.Models.RegisterModel();

        name = ITinTheDWebSite.Helpers.DatabaseHelper.GetAdminData(admin, WebSecurity.GetUserId(User.Identity.Name)).Name;
    }

    else
    {
        
    }
    
    <text> Hello, @Html.ActionLink(name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
    </text>
    
    if (User.IsInRole("Student"))
    {
        @Html.ActionLink("Apply Online", "DisplayProspectFiles", "Account")
    }

    else if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Admin", "Index", "Admin")
    }
}
else
{
    <ul>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#" style="color:Black">Register
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Prospective Student", "DisplayProspect", "Account")</li>
                <li>@Html.ActionLink("Academic Institution", "DisplayAcademic", "Account")</li>
                <li>@Html.ActionLink("Corporate Sponsor", "DisplaySponsor", "Account")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { style = "color:Black" })</li>
    </ul>
}