@if (Request.IsAuthenticated)
{
    string userName = "";
    for (int x = 0; x < User.Identity.Name.Length; x++)
    {
        if (User.Identity.Name[x] == '@')
        {
            break;
        }

        else
        {
            if (User.IsInRole("Sponsor"))
            {
                
            }
            
            userName += User.Identity.Name[x];
        }
    }
    <text> Hello, @Html.ActionLink(userName , "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            
      
    }
    </text>
    
    if (User.IsInRole("Student"))
    {
    @Html.ActionLink("Apply Online", "Index", "Apply_Online")
    }

    else if (User.IsInRole("Admin"))
    {
    @Html.ActionLink("Admin", "Index", "Admin")
    }
}
else
{
    <ul>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Register
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Student", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Sponsor", "Sponsor", "Account")</li>
                <li>@Html.ActionLink("Educator", "Educator", "Account")</li>
            </ul>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}