@if (Request.IsAuthenticated)
{
    string userName = "";
    string userNameFixed = "";
    for (int x = 0; x < User.Identity.Name.Length; x++)
    {
        if (User.Identity.Name[x] == '@')
        {
            break;
        }

        else
        {            
            if (x == 0)
            {
                userName += User.Identity.Name[x];
                userName = userName.ToUpper();
            }
            
            else
            {
                userNameFixed += User.Identity.Name[x];
            }
        }
    }

    userNameFixed = userNameFixed.ToLower();

    userName += userNameFixed;
    
    <text> Hello, @Html.ActionLink(userName, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            
      
    }
    </text>
    
    if (User.IsInRole("Student"))
    {
        @Html.ActionLink("Apply Online", "Index", "Apply_Online")
    }

    else if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Admin", "Index", "Admin")
    }
}
else
{
    <ul>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Register
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Prospect Student", "DisplayProspect", "Account")</li>
                <li>@Html.ActionLink("Academic Institution", "DisplayAcademic", "Account")</li>
                <li>@Html.ActionLink("Sponsor", "DisplaySponsor", "Account")</li>
            </ul>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}