@model ITinTheDWebSite.Models.SponsorModel
@{
    ViewBag.Title = "Sponsor Registration Page";
}
<h2>Sponsor Registration Form</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>CorporateSponsor</legend>
        <ol>
            <li>
                @Html.LabelFor(model => model.CompanyName)
                @Html.TextBoxFor(model => model.CompanyName)
            </li>
            <li>
                @Html.LabelFor(model => model.CompanyAddress)
                @Html.TextBoxFor(model => model.CompanyAddress)
            </li>
            <li>
                @Html.LabelFor(model => model.ContactName)
                @Html.TextBoxFor(model => model.ContactName)
            </li>
            <li>
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title)
            </li>
            <li>
                @Html.LabelFor(model => model.EmailAddress)
                @Html.TextBoxFor(model => model.EmailAddress)
            </li>
            <li>
                @Html.LabelFor(model => model.Reason)
                @Html.TextBoxFor(model => model.Reason)
            </li>
            <li>
                @Html.LabelFor(model => model.Telephone)
                @Html.TextBoxFor(model => model.Telephone)
            </li>
            <li>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
            </li>
            <li>
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
