<head>
    <meta charset="utf-8" />
    <title>jQuery UI Accordion - Default functionality</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
</head>
<body>
    <section id="Sponsor Information">
        <div class="page-header">
            <h1>
                Sponsor Information</h1>
        </div>
        <h3>@TempData["Message"]</h3>
        @if (User.IsInRole("Sponsor"))
        {
            ITinTheDWebSite.Models.SponsorModel sponsor = new ITinTheDWebSite.Models.SponsorModel();

            if (ITinTheDWebSite.Helpers.DatabaseHelper.GetSponsorData(sponsor, WebSecurity.GetUserId(User.Identity.Name)).AccountStatus == 3)
            {
                <p align="center">
                    @Html.Partial("../Account/DisplaySponsorPage", sponsor)
                </p>
            }
        }
        <div id="accordion">
            <h3>
                Sponsors</h3>
            <div>
                Corporate Sponsorship is at the cornerstone of IT in the D. Our Partners provide not
                only trainers, information and expertise, but also real world experiences. Below
                are brief descriptions of these dynamic companies who patronage and support make
                IT in the D possible.<br />
                <br />
                <br />
                <br />
                <br />
                <p align="center">
                    <a class="btn btn-large btn-primary" @Html.ActionLink("Apply as a Sponsor", "DisplaySponsor", "Account")
                </p>
            </div>
            @{
                using (ITinTheDWebSite.ITintheDTestTableEntities context = new ITinTheDWebSite.ITintheDTestTableEntities())
                {
                    foreach (var SponsorData in context.ProspectiveCorporateSponsor)
                    {
                        if (SponsorData.Status == 3)
                        {
                            if (SponsorData.SponsorPageTextField != null && SponsorData.SponsorPageTextField != "")
                            {
                                <h3>
                                    @SponsorData.CompanyName</h3>
                                <div>
                                    @SponsorData.SponsorPageTextField
                                    <br />
                                    @if (SponsorData.ImageUploaded == "Yes")
                                    {
                                        <br />
                                        <p align="center">
                                            <img src="/GetFileImage.ashx?id=@SponsorData.SponsorId" />
                                        </p>
                                    }
                                </div>
                                }
                            }
                        }
                    }
                }
        </div>
</body>
