@model sbContact.Models.EmailFields

<h2 align="center">Contact Us</h2>
 <div class="pull-left">
@using (Html.BeginForm("Sendit","Email")) {
        @Html.ValidationSummary(true)
   
        <fieldset>
        <legend>Please provide the following information</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
   
        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>
 
        @*<div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>*@
        @*<div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
             <br />
            <input style="width: 37px" onblur="textCounter(this.form.recipients,this,4000);"
                disabled onfocus="this.blur();" tabindex="999" maxlength="4" size="4" value="4000"
                name="counter" id="counter" />
            <small>characters remaining.</small>
        </div>*@






        <div class="editor-label" >
            @Html.LabelFor(model => model.Message)
            @Html.TextAreaFor(m => m.Message, new { @class = "chars-remaining-text-area", style="width: 220px; height: 100px", @cols = 10, @rows = 1, @onblur = "textCounter(this,this.form.counter,4000);", @onkeyup = "textCounter(this,this.form.counter,4000);" })
            <br />
            <input style="width: 37px" onblur="textCounter(this.form.recipients,this,4000);"
                disabled onfocus="this.blur();" tabindex="999" maxlength="4" size="4" value="4000"
                name="counter" id="counter" />
            <small>characters remaining.</small>
        </div>




 
<p>
<input type="submit" value="Send email" />
</p>
 
</fieldset>
   
    }
  </div>
@*<div class = center>
Compuware World Headquarters<br />
1 Campus Martius <br />
Detroit, MI 48226<br />
</div>*@

<div class= "pull-right"> 
    
    <iframe width="550" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1050+Woodward+Avenue,+Detroit,+MI+48226+&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=41.224889,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=1050+Woodward+Ave,+Detroit,+Wayne,+Michigan+48226&amp;t=m&amp;z=14&amp;ll=42.332308,-83.046976&amp;output=embed"></iframe>
<br />
<a href="https://maps.google.com/maps?q=1050+Woodward+Avenue,+Detroit,+MI+48226+&hl=en&sll=37.0625,-95.677068&sspn=41.224889,79.013672&hnear=1050+Woodward+Ave,+Detroit,+Wayne,+Michigan+48226&t=m&z=16" target=_blank><b><i>Get directions to IT in The D</i></b></a>
    <br />
Compuware World Headquarters<br />
1 Campus Martius <br />
Detroit, MI 48226<br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function textCounter(field, countfield, maxlimit) {
        if (field.value.length > maxlimit) {
            field.value = field.value.substring(0, maxlimit);
            field.blur();
            field.focus();
            return false;
        } else {
            countfield.value = maxlimit - field.value.length;
        }
    };

    $(document).ready(function () { textCounter($("#Reason")[0], $("#counter")[0], 4000) });
    //    TODO: Figure out how to call textCounter function after the dom has loaded (jquery ready function?)
    
    </script>