@model sbContact.Models.EmailFields

<h2 align="center">Contact Us</h2>

@using (Html.BeginForm("Sendit","Email")) {
        @Html.ValidationSummary(true)
    <div class="well">
        <fieldset>
        <legend>Please provide the following information</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
   
        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
 
<p>
<input type="submit" value="Send email" />
</p>
 
</fieldset>
    </div>
    }
<div>
Compuware World Headquarters<br />
1 Campus Martius <br />
Detroit, MI 48226<br />

<center>
    <a href="https://maps.google.com/maps?q=1050+Woodward+Avenue,+Detroit,+MI+48226+&hl=en&sll=37.0625,-95.677068&sspn=41.224889,79.013672&hnear=1050+Woodward+Ave,+Detroit,+Wayne,+Michigan+48226&t=m&z=16" target=_blank>Get directions to IT in The D</a>
    <br />
    <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1050+Woodward+Avenue,+Detroit,+MI+48226+&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=41.224889,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=1050+Woodward+Ave,+Detroit,+Wayne,+Michigan+48226&amp;t=m&amp;z=14&amp;ll=42.332308,-83.046976&amp;output=embed"></iframe>
</center>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}